{% extends 'base.html' %}
{% block title %}添加用户页面{% endblock %}
{% block content %}
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->

            <h3><i class="fa fa-angle-right"></i> Add Account Form </h3>

          	<!-- BASIC FORM ELELEMNTS -->
          	<div class="row mt">
          		<div class="col-lg-12">
                  <div class="form-panel">
                  	  <h4 class="mb"><i class="fa fa-angle-right"></i> 添加用户</h4>
                      <form class="form-horizontal style-form" method="post" action="{% url 'account_add' %}">


                            {% csrf_token %}
{#                            {{ form }}#}


                          <div class="form-group">
                              <label  class="col-sm-2 col-sm-2 control-label">用户名</label>
                              <div class="col-sm-10">
                                  <input type="email" name="email" class="form-control round-form" placeholder="请输入邮箱">
                              </div>
                          </div>
                          <div class="form-group">
                              <label  class="col-sm-2 col-sm-2 control-label">密码</label>
                              <div class="col-sm-10">
                                  <input type="password" name="password" id="password" class="form-control round-form" placeholder="请输入密码">
                              </div>
                          </div>
                          <div class="form-group">
                              <label  class="col-sm-2 col-sm-2 control-label">确认密码</label>
                              <div class="col-sm-10">
                                  <input  type="password" name="repassword" id="repassword" class="form-control round-form" placeholder="请输入密码" onblur="check_password()">
                              </div>
                          </div>

                          <div class="form-group">
                              <label  class="col-sm-2 col-sm-2 control-label">名字</label>
                              <div class="col-sm-10">
                                  <input type="text" name="name" class="form-control round-form" placeholder="请输入名字">
                              </div>
                          </div>


                          <div class="form-group">
                                  <label class="col-sm-2 col-sm-2 control-label">角色</label>
                                  <div class="col-sm-10">
                                      <select  class="form-control" name="role" >
                                          {% for role in roles %}
{#                                                获取值#}
{#                                              <option id="{{ type.id }}">{{ type.name }}</option>#}
{#                                            获取id#}
                                          <option value="{{ role.id }}">{{ role.name }}</option>
                                          {% endfor %}
                                      </select>
                                  </div>
                          </div>



                          <div class="form-group">
                              <div class="col-sm-12">
                                  <input class="btn btn-theme" type="submit" value="添加员工">
                              </div>

                          </div>


                      </form>
                  </div>
          		</div><!-- col-lg-12-->
          	</div><!-- /row -->

      <!--main content end-->
    <script>
        function check_password() {
            var pwd=document.getElementById("password");
            var repwd=document.getElementById("repassword");
            if(pwd.value!=repwd.value){
                repwd.style="border: 1px solid red";
            }
            else {
                repwd.style="";
            }

        }
    </script>

{% endblock %}