{% extends 'base.html' %}
{% block title %}用户列表页面{% endblock %}
{% block content %}
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
            <script>

                $('#edit_play').click
            </script>

          	<h3><i class="fa fa-angle-right"></i> 查看全部用户</h3>


              <div class="row mt">
                  <div class="col-md-12">
                      <div class="content-panel">
                          <table class="table table-striped table-advance table-hover">
	                  	  	  <h4><i class="fa fa-angle-right"></i> 用户列表</h4>
	                  	  	  <hr>
                              <thead>
                              <tr>
                                  <th><i class="fa fa-bullhorn"></i> 编号</th>
                                  <th><i class="fa fa-question-circle"></i> 名字</th>
                                  <th><i class="fa fa-bookmark"></i> 邮箱</th>
                                  <th class="hidden-phone"><i class="fa fa-question-circle"></i> 评分</th>

                                  <th></th>
                              </tr>
                              </thead>
                              <tbody>
                              {% for account in accounts %}
                              <tr>
                                  <td><a href="#">&nbsp;{{ account.id }}</a></td>
                                  <td>{{ account.name }} </td>
                                  
                                  <td>{{ account.email }} </td>
                                  <td class="hidden-phone"><a href="{% url 'role_list' %}"><span class="label label-info">{{ account.role.name }}</span></a></td>
                                  <td>
{#                                      <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>#}
                                      <a id="edit_play" href="{% url 'account_edit' account.id %}" class="btn btn-primary btn-xs"><i class="fa fa-pencil" ></i></a>
                                      <a href="{% url 'account_delete' account.id %}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o " onclick="ensure()"></i></a>
                                  </td>
                              </tr>
                              {% endfor %}

                              </tbody>
                          </table>

                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
              </div><!-- /row -->

      <!--main content end-->
                <nav aria-label="Page navigation">
                  <ul class="pagination">
                      {% if accountsPageObj.has_previous %}
                    <li >
                      <a href="{% url 'account_list' %}?page={{ accountsPageObj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                      {% else %}
                    <li class="disabled">
                      <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                      {% endif %}

                      {% for page in accountsPageObj.paginator.page_range %}
                          {% if page == accountsPageObj.number %}
                          <li class="active"><a href="{% url 'account_list' %}?page={{ page }}">{{ page}}</a></li>
                          {% else %}
                          <li><a href="{% url 'account_list' %}?page={{ page }}">{{ page}}</a></li>
                          {% endif %}
                      {% endfor %}

                    {% if accountsPageObj.has_next %}
                    <li>
                      <a href="{% url 'account_list' %}?page={{ accountsPageObj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                    {% else %}
                    <li class="disabled">
                      <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                    {% endif %}
                  </ul>
                </nav>
    <script type="text/javascript">
        function ensure() {
                if(confirm("确定删除吗")){
                    alert("删除成功");
                    return true;
                }
                return false;
        }

   </script>
{% endblock %}